<div class="card card-tabs" id="bleepstep2card">
    <div class="card-header p-0 pt-1 bg-theme-secondary text-theme-secondary">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fa fa-expand text-theme-secondary"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus text-theme-secondary"></i>
            </button>
        </div>
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
            <li class="pt-2 px-3"><h3 class="card-title">Step 2:</h3></li>
            <li class="nav-item">
            <a class="nav-link active" id="step2-run-bleepy-tab" data-toggle="pill" href="#step2-run-bleepy" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Run Bleepy</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="custom-tabs-two-tabContent">
        <div class="tab-pane fade show active" id="step2-run-bleepy" role="tabpanel" aria-labelledby="step2-run-bleepy-tab">        
            <div class="row">
                <div class="col-6">
                    <h3 class=" font-weight-light">
                        Run Bleepy
                    </h3>
                </div>
                <div class="col-6 ">
                    <a href="/bleepvideo"> <button class="btn btn-theme-secondary float-right">Back to Step 1</button></a>
                </div>
            </div>

            <hr>
            <p>{{viewdata.get('videoinfo').get('filename')}}</p>
            <form action="/bleepstep2" id="runbleepyform" method="POST">
                <input type="hidden" name="video_duration" id="video_duration" value="{{viewdata.get('video_duration')}}">
                <input type="hidden" name="est_multiplier" id="est_multiplier" value="{{viewdata.get('est_multiplier')}}">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls id="choosevideopreview">
                        <source src="{{url_for('static', filename=viewdata.get('videoinfo').get('filelocation') )}}" type="video/mp4" />
                        This video is not supported by your browser...
                    </video>
                </div>

                <input type="hidden" name="runbleepyvid_id" id="runbleepyvid_id" value="{{viewdata.get('videoinfo').get('video_id')}}">
                
                {% if viewdata.get("bleepsounds") %}
                <p class="mt-3 font-weight-bold">Bleep Sound</p>
                <div class="input-group mb-3">
                    <select name="choosebleepsound" class="custom-select" id="choosebleepsound">
                        {% for bleepsound in viewdata.get("bleepsounds") %}
                        <option value="{{bleepsound.get('bleep_sound_id')}}">{{bleepsound.get("filename")}}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-info" type="button" id="listenfirst">Listen First</button>
                    </div>
                </div>
                <div class="" id="bleepsoundpreview">
                    <audio controls class=" w-100 mb-3" id="bleepsoundplayer">
                        <source src="" id="mp3_src" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
                {% endif %}

                {% if viewdata.get("langs") %}
                <div class="form-group">
                    <label for="lang">Select Language:</label>
                    <select class="form-control" id="lang" name="lang">
                        {% for lang in viewdata.get("langs") %}
                            {% if lang.get('lang') == viewdata.get("defaultLang")%}
                                <option value="{{lang.get('lang_id')}}" selected>{{lang.get('lang').title()}}</option>
                            {% else %}
                                <option value="{{lang.get('lang_id')}}">{{lang.get('lang').title()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                {% endif %}

                <div class="form-group" id="runBleepySubmitDiv">
                    <button type="submit" class="btn btn-primary">Run Bleepy!</button>
                </div>
                <div class="form-group" id="runBleepyCancelSubmitDiv" style="display: none;">
                    <button class="btn btn-info" disabled id="loader-icon">
                        <span class="spinner-border spinner-border-sm"></span>
                        Loading..
                    </button>
                    <input type="button" id="runBleepyCancelSubmit" value="Cancel" class="btn btn-danger" />

                    <p class="mt-2">
                        <span class=" font-weight-bold">Elapsed time:</span> <span id="runBleepyElapsedtime">00:00:00</span>
                        <br>
                        <span class=" font-weight-bold">Estimated Progress:</span>
                    </p>

                </div>
                
                

                <div class="progress" id="runBleepyProgress" style="display: none;">
                    <div id="runBleepyProgressbar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                </div>

                <div id="runbleepyresponsemsg" class="mt-3">

                </div>
            </form>
        </div>
      </div>
    </div>
    <!-- /.card -->
</div>   

<script>
    class Process{
        constructor(){
            this.process = false
        }
        onProcess(){
            this.process = true
        }
        doneProcess(){
            this.process = false
        }
        isOnProcess(){
            return this.process
        }
    }

    var process = new Process()

    $(window).bind("beforeunload",function(event) {
        if(process.isOnProcess()) return "Leaving or closing the page will stop the current process. Still want to leave this page?";
    });

    ///////////

    class Progress{
        constructor (est_duration,progress_bar,elapsedtimespan){
            this.percent = 0
            this.lapse = 0
            this.interval = null
            this.progress_bar = progress_bar
            this.est_duration = est_duration
            this.elapsedtimespan = elapsedtimespan
        }
        initial(){
            $(this.progress_bar).width('0%')
            $(this.progress_bar).html('0%');
            $(this.elapsedtimespan).html('00:00:00');
            this.percent = 0
        }

        setLapse(lapse){
            this.lapse = lapse
        }
        getLapse(){
            return this.lapse
        }

        incrementLapse(){
            this.setLapse(this.getLapse()+1)
        }

        getLapseTime(){
            // let hours = parseInt(this.getLapse()/3600)
            // let minutes = parseInt((this.getLapse()%3600)/60)
            // let seconds = parseInt((this.getLapse()%3600)%60)
            // return hours.toString()+":"+minutes.toString()+":"+seconds.toString()
            return new Date(this.getLapse() * 1000).toISOString().substr(11, 8)
        }
        setPercent(percent){
            this.percent = percent
        }

        getPercent(){
            return this.percent
        }

        computePercent(){
            let temp_percent = parseInt((this.getLapse()/this.est_duration)*100)
            if (temp_percent<100){
                this.setPercent(temp_percent)
            }
        }

        process(){
            this.incrementLapse()
            this.computePercent()
            $(this.progress_bar).width(this.getPercent()+'%')
            $(this.progress_bar).html(this.getPercent()+'%');
            $(this.elapsedtimespan).html(this.getLapseTime());
        }
        
        run(){
            this.initial()
            this.interval = setInterval(this.process.bind(this), 1000);
        }
        stop(){
            clearInterval(this.interval);
        }
    }
    ///////////


    $('#bleepsoundpreview').hide();
    $('#listenfirst').on('click', function() {
        requestAudioSrc()
    });

    $('#choosebleepsound').on('change', function() {
        $('#bleepsoundpreview').hide();
        requestAudioSrc()
    });

    $('#runbleepyform').submit(function(event){
        event.preventDefault();
        if($('#runbleepyvid_id').val()){
            if($('#choosebleepsound').val()){
                
                est_duration = parseFloat($('#video_duration').val())*parseFloat($('#est_multiplier').val())
                let progress = new Progress(est_duration,'#runBleepyProgressbar','#runBleepyElapsedtime')
                progress.run()
                process.onProcess();

                $('#runBleepySubmitDiv').hide();
                $('#runBleepyCancelSubmitDiv').show();
                $('#runBleepyProgress').show();
                $.ajax ({
                    type:"POST",
                    url:"/bleepstep2",
                    data: {
                        bleepsound_id:$('#choosebleepsound').val(),
                        vid_id:$('#runbleepyvid_id').val(),
                        lang:$('#lang').val(),
                    },
                    cache: false,
                    success:function(data){
                        process.doneProcess();
                        $(this.progress_bar).width('100%')
                        $(this.progress_bar).html('100%');
                        $('#runbleepyresponsemsg').html(data.responsemsg)
                        $('#runBleepySubmitDiv').show();
                        $('#runBleepyCancelSubmitDiv').hide();
                        $('#runBleepyProgress').hide();
                        if(data.bleepstep2response){
                            $('#bleepstep2card').CardWidget('collapse')
                            $('#bleepstep2card').CardWidget('minimize')
                            $('#bleepstep3div').show();
                            $('#bleepstep3div').html(data.bleepstep2response);
                            $('#runBleepySubmitDiv').hide();
                        }
                        progress.stop()
                    },error:function(e){
                        alert("error: "+e)
                        $('#runBleepySubmitDiv').show();
                        $('#runBleepyCancelSubmitDiv').hide();
                        $('#runBleepyProgress').hide();
                        progress.stop()
                    }
                });
            }
            else{
                alert("No Data for the bleep sound")
            }
        }
        else{
            alert("No Data for the video")
        }
    });

    function requestAudioSrc(){
        if($('#choosebleepsound').val()){
            $.ajax ({
                type:"POST",
                url:"/getbleepsoundinfo",
                data: {
                    bleepsound_id:$('#choosebleepsound').val()
                },
                cache: false,
                success:function(data){
                    $('#bleepsoundpreview').show();
                    changeAudioSrc(data.filelocation)
                    
                },error:function(e){
                    alert("error: "+e)
                }
            });
        }
        else{
            //Stops audio
            changeAudioSrc("")
            $('#bleepsoundpreview').hide();
        }
    }

    function changeAudioSrc(sourceUrl) {
        var audio = $("#bleepsoundplayer");      
        $("#mp3_src").attr("src", sourceUrl);
        /****************/
        audio[0].load();
    }

    
    

    
</script>