<li class="nav-item">
    <a class="nav-link" data-widget="navbar-search" data-target="#navbar-search1" href="#" role="button">
      <i class="fa fa-search"></i>
      <span class=" d-md-none"> Search</span>
    </a>
    <div class="navbar-search-block" id="navbar-search1">
      <form class="form-inline bg-theme" action="/bleepsoundlist">
        <label for="" class=" text-theme-secondary">Search Bleep sound</label>
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar bg-light" type="search" placeholder="Search bleep sound" aria-label="Search" name="search" id="search">
            <div class="input-group-append">
                <button class="btn btn-theme-secondary searchbtn" type="submit">
                <i class="fa fa-search"></i>
                </button>
                <button class="btn btn-theme-secondary" type="button" data-widget="navbar-search">
                <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
      </form>
    </div>
</li>