{% extends 'layout/layout3.html' %}

{% block layout3_body %}

    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addaccountmodal">Add Account</button>
    <div class=" container ">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Accounts</h3>

                <div class="card-tools">
                    <!--Card tool search-->
                    {% include 'includes/card_tool/_search.html' %}
                </div>
            </div>
            <!-- ./card-header -->
            <div class="card-body table-responsive-md">
                <!--Result Badge-->
                {% include 'includes/_resultbadge.html' %}

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in viewdata.get('accounts') %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{account.get('fname').title()}} {{account.get('lname').title()}}</td>
                                <td>{{account.get('role').title()}}</td>
                                <td>{{account.get('reg_date')}}</td>
                            </tr>
                            <tr class="expandable-body bg-white">
                                <td colspan="3">
                                    <div>
                                        <div class="row ">
                                            <div class="col-md-10 col-12">
                                                <button class="btn btn-info btnviewaccount" value="{{account.get('account_id')}}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i> View</button>
                                                <button class="btn btn-warning btneditaccount" value="{{account.get('account_id')}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Edit</button>
                                                <button class="btn btn-danger btndeleteaccount" value="{{account.get('account_id')}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i> Delete</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

                <!--Pagination -->
                {% include 'includes/_pagination.html' %}

            </div>
            <!-- /.card-footer -->
        </div>
    </div>

    <!-- Modals -->
    <div>
        <!-- The Modal  Add account-->
        <div class="modal fade" id="addaccountmodal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-success">
                <h4 class="modal-title">Add Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/addaccount" method="post" id="addaccountform">
                        <div class="form-group">
                            <label for="addfname">First Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="addfname" name="addfname" value="" >
                        </div>
                        <div class="form-group">
                            <label for="addlname">Last Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="addlname" name="addlname" value="" >
                        </div>
                        <div class="form-group">
                            <label for="addemail">Email: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter email" id="addemail" name="addemail" value="" >
                        </div>
                        <div class="form-group">
                            <label for="addpwd">Password: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter Password (the default password is '{{viewdata.get('defaultpwd')}}')" id="addpwd" name="addpwd" value="{{viewdata.get('defaultpwd')}}" >
                        </div>
                        <div class="form-group">
                            <label for="addrole">Role: <span class="invalid text-danger">*</span></label>
                            <select class="form-control" id="addrole" name="addrole">
                            {% for role in viewdata.get('roles') %}
                                <option value="{{role.get('role_id')}}">{{role.get('name').title()}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <button class="btn btn-success" type="submit">Add</button>
                    </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>

        <!-- The Modal  View account-->
        <div class="modal fade" id="viewaccountmodal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-info">
                <h4 class="modal-title">View Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/" method="post" id="viewform" enctype="multipart/form-data">
                        <img src="" alt="account photo" id="viewphoto" class=" img-thumbnail mx-auto d-block" style="max-height: 250px;">
                        <div class="form-group">
                            <label for="viewfname">First Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="viewfname" name="viewfname" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="viewlname">Last Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="viewlname" name="viewlname" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="viewemail">Email: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter email" id="viewemail" name="viewemail" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="viewrole">Role: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter role" id="viewrole" name="viewrole" value="" disabled>
                        </div>
                    </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>

        <!-- The Modal  Edit account-->
        <div class="modal fade" id="editaccountmodal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-warning">
                <h4 class="modal-title">Edit Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/editaccount" method="post" id="editaccountform" enctype="multipart/form-data">
                        <input type="hidden" name="editaccid" id="editaccid">
                        <img src="" alt="account photo" id="editphoto" class=" img-thumbnail mx-auto d-block" style="max-height: 250px;">
                        <div class="form-group">
                            <label for="editfname">First Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="editfname" name="editfname" value="" >
                        </div>
                        <div class="form-group">
                            <label for="editlname">Last Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="editlname" name="editlname" value="" >
                        </div>
                        <div class="form-group">
                            <label for="editemail">Email: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter email" id="editemail" name="editemail" value="" >
                        </div>
                        <div class="form-group">
                            <label for="editrole">Role: <span class="invalid text-danger">*</span></label>
                            <select class="form-control" id="editrole" name='editrole'>
                            {% for role in viewdata.get('roles') %}
                                <option value="{{role.get('role_id')}}">{{role.get('name').title()}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <button class="btn btn-warning" type="submit">Update</button>
                    </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>

        <!-- The Modal  Delete account-->
        <div class="modal fade" id="deleteaccountmodal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-maroon">
                <h4 class="modal-title">Delete Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/deleteaccount" method="post" id="deleteaccountform">
                        <input type="hidden" name="deleteaccid" id="deleteaccid">
                        <img src="" alt="account photo" id="deletephoto" class=" img-thumbnail mx-auto d-block" style="max-height: 250px;">
                        <div class="form-group">
                            <label for="deletefname">First Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter first name" id="deletefname" name="deletefname" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="deletelname">Last Name: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter last name" id="deletelname" name="deletelname" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="deleteemail">Email: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter email" id="deleteemail" name="deleteemail" value="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="deleterole">Role: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter role" id="deleterole" name="deleterole" value="" disabled>
                        </div>
                        <button class="btn btn-danger bg-maroon" type="submit">Delete</button>
                    </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block layout3_script %} 
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_validname.js')}}"></script>
    
    <script>
        $(".btnviewaccount").click(function(){
            $.ajax ({
                type:"POST",
                url:"/viewaccount",
                data: {
                    acc_id:$(this).val()
                },
                cache: false,
                success:function(data){
                    $("#viewphoto").attr("src",data.photo);
                    $('#viewfname').val(data.fname)
                    $('#viewlname').val(data.lname)
                    $('#viewemail').val(data.email)
                    $('#viewrole').val(data.role)
                    $("#viewaccountmodal").modal();
                },error:function(e){
                    alert("error: "+e)
                }
            });
        });

        $(".btneditaccount").click(function(){
            //first view the account to be edit
            let acc_id = $(this).val()
            $.ajax ({
                type:"POST",
                url:"/viewaccount",
                data: {
                    acc_id:acc_id
                },
                cache: false,
                success:function(data){
                    $("#editphoto").attr("src",data.photo);
                    $('#editfname').val(data.fname)
                    $('#editlname').val(data.lname)
                    $('#editemail').val(data.email)
                    $('#editrole').val(data.role_id)
                    $('#editaccid').val(acc_id)
                    $("#editaccountmodal").modal();
                },error:function(e){
                    alert("error: "+e)
                }
            });
        });

        $(".btndeleteaccount").click(function(){
            //first delete the account to be edit
            let acc_id = $(this).val()
            $.ajax ({
                type:"POST",
                url:"/viewaccount",
                data: {
                    acc_id:acc_id
                },
                cache: false,
                success:function(data){
                    $("#deletephoto").attr("src",data.photo);
                    $('#deletefname').val(data.fname)
                    $('#deletelname').val(data.lname)
                    $('#deleteemail').val(data.email)
                    $('#deleterole').val(data.role)
                    $('#deleteaccid').val(acc_id)
                    $("#deleteaccountmodal").modal();
                },error:function(e){
                    alert("error: "+e)
                }
            });
        });

        //Validations
        $("#addaccountform").validate({
            errorElement: 'span',
            errorClass: 'invalid',
            rules: {
                addfname:{
                    required: true,
                    minlength: 2,
                    validname: true
                },
                addlname:{
                    required: true,
                    minlength: 2,
                    validname: true
                },
                addemail:{
                    required: true,
                    email:true
                },
                addpwd:{
                    required: true,
                }
            }
        });

        $("#editaccountform").validate({
            errorElement: 'span',
            errorClass: 'invalid',
            rules: {
                editfname:{
                    required: true,
                    minlength: 2,
                    validname: true
                },
                editlname:{
                    required: true,
                    minlength: 2,
                    validname: true
                },
                editemail:{
                    required: true,
                    email:true
                }
            }
        });

        
    </script>
{% endblock %}