{% extends 'layout/layout3.html' %}

{% block layout3_body %}

    <!-- Feeds -->
    {% include 'includes/dashboard/_feeds.html' %}


    <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addaccountmodal">Add Account</button>
    <div class=" container ">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Accounts</h3>

                <div class="card-tools">
                    <!--Card tool search-->
                    {% include 'includes/card_tool/_search.html' %}
                </div>
            </div>
            <!-- ./card-header -->
            <div class="card-body table-responsive-md">
                <!--Result Badge-->
                {% include 'includes/_resultbadge.html' %}

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Registration Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in viewdata.get('accounts') %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td><img src="{{url_for('static', filename=account.get('photo'))}}" alt="{{account.get('fullname')}} Image" width="50px" height="50px" class="rounded-circle mx-auto d-block"></td>
                                <td>{{account.get('fname').title()}} {{account.get('lname').title()}}</td>
                                <td>{{account.get('role').title()}}</td>
                                <td>{{account.get('reg_date')}}</td>
                            </tr>
                            <tr class="expandable-body bg-white">
                                <td colspan="4">
                                    <div>
                                        <div class="row ">
                                            <div class="col-md-10 col-12">
                                                <button class="btn btn-info btnviewaccount" value="{{account.get('account_id')}}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i> View</button>
                                                <button class="btn btn-warning btneditaccount" value="{{account.get('account_id')}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Edit</button>
                                                <button class="btn btn-danger btndeleteaccount" value="{{account.get('account_id')}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i> Delete</button>
                                                <button class="btn btn-secondary btnblockaccount" value="{{account.get('account_id')}}"><i class="fa fa-ban fa-lg" aria-hidden="true"></i> Block</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">

                <!--Pagination -->
                {% include 'includes/_pagination.html' %}

            </div>
            <!-- /.card-footer -->
        </div>
    </div>

    <!-- Modals -->
    <div>
        {% include 'includes/managemodals/_add_account_modal.html' %}

        {% include 'includes/managemodals/_view_account_modal.html' %}

        {% include 'includes/managemodals/_edit_account_modal.html' %}

        {% include 'includes/managemodals/_delete_account_modal.html' %}

        {% include 'includes/managemodals/_block_account_modal.html' %}
    </div>

{% endblock %}


{% block layout3_script %} 
    <script src="{{url_for('static', filename='Bleepy_UI/js/validation_validname.js')}}"></script>
        
    {% include 'includes/managemodals/scripts/_add_account_script.html' %}
    {% include 'includes/managemodals/scripts/_view_account_script.html' %}
    {% include 'includes/managemodals/scripts/_edit_account_script.html' %}
    {% include 'includes/managemodals/scripts/_delete_account_script.html' %}
    {% include 'includes/managemodals/scripts/_block_account_script.html' %}

{% endblock %}