<!-- Card Nav -->
<div class="card bg-theme-secondary d-none d-md-block">
    <div class="card-body">
        <!-- Sidebar Menu -->
        <nav class="">
            <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                {% for nav in viewdata.get('navigations') %}
                <li class="nav-item">
                    <a href="{{nav.get('location')}}" class="nav-link {% if viewdata.get(nav.name) %} active {% endif %}">
                        <i class="nav-icon fa fa-{{nav.get('icon')}}"></i>
                        <p>
                            {{nav.get('name').title()}}
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</div>