<!-- Card Nav -->
<div class="card bg-theme-secondary d-none d-md-block">
    <div class="card-body">
        <!-- Sidebar Menu -->
        <nav class="">
            <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link {% if viewdata.get('dashboard') %} active {% endif %}">
                        <i class="nav-icon fa fa-tachometer"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link {% if viewdata.get('profile') %} active {% endif %}">
                        <i class="nav-icon fa fa-user"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/videolist" class="nav-link {% if viewdata.get('videolist') %} active {% endif %}">
                        <i class="nav-icon fa fa-video-camera"></i>
                        <p>
                            Videos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bleepvideolist" class="nav-link {% if viewdata.get('bleepvideolist') %} active {% endif %}">
                        <i class="nav-icon fa fa-soundcloud"></i>
                        <p>
                            Bleeped Videos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/bleepsoundlist" class="nav-link {% if viewdata.get('bleepsoundlist') %} active {% endif %}">
                        <i class="nav-icon fa fa-music"></i>
                        <p>
                            Bleep Sounds
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</div>