<h3>Frequently Ask Questions (FAQs)</h3>

    <div id="accordion">
        <div class="card">
            <a class="card-link" data-toggle="collapse" href="#accountFAQs">
                <div class="card-header bg-light"> 
                    What my account can do?
                    
                </div>
            </a>
            <div id="accountFAQs" class="collapse" data-parent="#accordion">
                <div class="card-body">
                <div class="card">
                    <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> Can I bleep videos if I don't have an account?</div>
                    <div class="card-body"> Unfortunately, you cannot bleep videos if you don't have an account.</div>
                </div>

                <div class="card">
                    <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> How to make an account?</div>
                    <div class="card-body"> You can make an account through clicking the sign up page. You can also click this link: <a href="/signup">Sign up</a> to direct to the page.</div>
                </div>
                </div>
            </div>
        </div>

        <div class="card">
            <a class="collapsed card-link" data-toggle="collapse" href="#systemFAQs">
                <div class="card-header bg-light">

                    What your system can do?
                </div>
            </a>
            <div id="systemFAQs" class="collapse" data-parent="#accordion">
                <div class="card-body">
                <div class="card">
                    <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> What are the language that can block of your website?</div>
                    <div class="card-body"> This website can block two languages including Tagalog, English, and Tagalog-English(Tag-lish). We provide a list of profanity detected on the videos uploaded, statistics of the profanity seen 
                        in the videos. 
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="card">
            <a class="collapsed card-link" data-toggle="collapse" href="#howtobleepFAQs">
                <div class="card-header bg-light">
                    How to bleep video?
                </div>
            </a>
            <div id="howtobleepFAQs" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                    <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> How to bleep video?</div>
                        <div class="card-body"> 
                            First go to the <a href="/dashboard">dashboard,</a>  navigate to Bleep New Video section. Choose between  (a) upload new video, (b) choose from you video, and (c) re-filter bleep video. 
                            Next, choose bleep sound you want to use. Then run the bleepy. Lastly, after the process is done, you can download the bleep video or see its full report.
                        </div>
                    </div>

                    <div class="card">
                    <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> How to go Bleep Video page ?</div>
                        <div class="card-body"> 
                            You can go to the <a href="/dashboard">dashboard,</a>  navigate to Bleep New Video section. Or click this <a href="/bleepvideo">link</a>. 
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <a class="collapsed card-link" data-toggle="collapse" href="#bleepvideoinfoadvanceFAQs">
                <div class="card-header bg-light">

                    What is advance details in bleep video information?
                </div>
            </a>
            <div id="bleepvideoinfoadvanceFAQs" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> What is prediction probability?</div>
                        <div class="card-body"> 
                            Prediction probability is the percentage of how likely the word is profanity.
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> What is confidence?</div>
                        <div class="card-body"> 
                            Confidence is the accuracy of the transcripted word.
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-theme-secondary text-theme-secondary"><i class="fa fa-question-circle" style="font-size:24px"></i> What is STT model?</div>
                        <div class="card-body"> 
                            STT model is the Speech To Text model that is used to transcribe words from the video.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>