<footer class="bg-theme text-theme-secondary">
    <div class="container py-5">
        <div class="row container">
            <div class="col-md-4 mt-5">
                <h1>Contact</h1>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Calamba City, Laguna <br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:bleepyinfo@gmail.com" class="text-theme-secondary">Gmail: bleepyinfo@gmail.com</a><br>
                <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+639487171889" class="text-theme-secondary">0948-717-1889</a>
            </div>
            <div class="col-md-4 mt-5">
                <h1>Follow Us</h1>
                <i class="fa fa-facebook-square" aria-hidden="true"></i> <a href="http://facebook.bleepy.info" target="_blank" class="text-theme-secondary">Bleepy Facebook Official</a><br>
                <i class="fa fa-twitter-square" aria-hidden="true"></i> <a href="http://twitter.bleepy.info" target="_blank" class="text-theme-secondary">Bleepy Twitter Official</a><br>
                <i class="fa fa-instagram" aria-hidden="true"></i> <a href="http://instagram.bleepy.info" target="_blank" class="text-theme-secondary">Bleepy Instagram Official</a>
            </div>
            <div class="col-md-4 mt-5">
                <h1>About Us</h1>
                <a href="/aboutus" class="text-theme-secondary">Team Bleepy</a> <br>
                <a href="/tandc" class="text-theme-secondary">Terms and Conditions</a> <br>
                <a href="/privacyandsecuritypolicies" class="text-theme-secondary">Privacy and Security Policies</a>
            </div>
        </div>
    </div>
</footer>