<footer class="bg-theme text-theme-secondary">
    <div class="container py-5">
        <div class="row container">
            <div class="col-md-4 mt-5">
                <h1>Contact</h1>
                <i class="fa fa-map-marker" aria-hidden="true"></i> Calamba City, Laguna <br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:bleepy@gmail.com" class="text-theme-secondary">Gmail: bleepy@gmail.com</a><br>
                <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+639487171889" class="text-theme-secondary">0948-717-1889</a>
            </div>
            <div class="col-md-4 mt-5">
                <h1>Follow Us</h1>
                <i class="fa fa-facebook-square" aria-hidden="true"></i> <a href="" class="text-theme-secondary">Bleepy.facebook.com</a><br>
                <i class="fa fa-twitter-square" aria-hidden="true"></i> <a href="" class="text-theme-secondary">Bleepymo</a><br>
                <i class="fa fa-instagram" aria-hidden="true"></i> <a href="" class="text-theme-secondary">BleepyUs</a>
            </div>
            <div class="col-md-4 mt-5">
                <h1>About Us</h1>
                <a href="" class="text-theme-secondary">Terms and Conditions</a>
            </div>
        </div>
    </div>
</footer>