<!-- Widget: user widget style 1 -->
<div class="card card-widget widget-user shadow">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-theme-secondary text-theme-secondary">
    <h3 class="widget-user-username">{{viewdata.get("uw_fullname")}}</h3>
    <h5 class="widget-user-desc">{{viewdata.get("uw_role").title()}}</h5>
    </div>
    <div class="widget-user-image">
    <img class="img-circle elevation-2" src="{{url_for('static', filename=viewdata.get('uw_photo'))}}" alt="User Avatar">
    </div>
    <div class="card-footer">
    <div class="row">
        <div class="col-sm-6 border-right">
        <div class="description-block">
            <h5 class="description-header">{{viewdata.get("uw_videoscount")}}</h5>
            <span class="description-text">Videos</span>
        </div>
        <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6 border-right">
        <div class="description-block">
            <h5 class="description-header">{{viewdata.get("uw_bleepedvideoscount")}}</h5>
            <span class="description-text">Bleeps</span>
        </div>
        <!-- /.description-block -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
</div>
<!-- /.widget-user -->