<!-- Additional For admin -->
<section>
    {% if viewdata.get("admin_data").get("trendfeeds") %}
    <section>
        <div class="card shadow">
            <div class="card-header bg-theme-secondary text-theme-secondary">
            <h3 class="card-title">Bleepy Trend</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fa fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
                <canvas id="bleepTrendChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                <!---->
                {% for trenddates in viewdata.get("admin_data").get("trendfeeds").get("dates") %}
                        <input type="hidden" name="trenddates" value="{{trenddates}}" >
                {% endfor %}

                {% for trends in viewdata.get("admin_data").get("trendfeeds").get("trends") %}
                        {% for trendname in trends%}
                            <input type="hidden" name="trendname" value="{{trendname}}" >
                            {% for trendvalue in trends.get(trendname) %}
                            <input type="hidden" name="{{trendname}}" value="{{trendvalue}}" >
                            {% endfor %}
                        {% endfor %}
                {% endfor %}
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    {% endif %}
    

    <div class="row">
        <div class="col-md-8">
            <!--Latest Users-->
            {% if viewdata.get('admin_data').get('latestusers') %}
            <section>
                <div class="card shadow">
                    <div class="card-header bg-theme-secondary text-theme-secondary">
                    <h3 class="card-title">Latest Registered Users</h3>        
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fa fa-expand text-theme-secondary"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus text-theme-secondary"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fa fa-times text-theme-secondary"></i>
                        </button>
                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap table-hover">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Registration Date</th>
                            <th> <a class="btn btn-theme" href="/manageaccount">View All</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for users in viewdata.get('admin_data').get('latestusers') %}    
                            <tr>
                                <td>
                                    <img src="{{url_for('static', filename=users.get('photo'))}}" alt="{{users.get('fullname')}} Image" width="50px" height="50px" class="rounded-circle">
                                </td>
                                <td>{{users.get("fullname").title()}}</td>
                                <td>{{users.get("reg_date")}}</td>
                                <td> 
                                    <button class=" btn btn-theme-secondary btnviewaccount" value="{{users.get('account_id')}}"> <i class="fa fa-eye" aria-hidden="true"></i> View </button> 
                                </td>
                            </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </section>
            <!-- The Modal  View account-->
            <div class="modal fade" id="viewaccountmodal">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header bg-info">
                    <h4 class="modal-title">View Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/" method="post" id="viewform" enctype="multipart/form-data">
                            <img src="" alt="account photo" id="viewphoto" class=" img-thumbnail mx-auto d-block" style="max-height: 250px;">
                            <div class="form-group">
                                <label for="viewfname">First Name: <span class="invalid text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter first name" id="viewfname" name="viewfname" value="" disabled>
                            </div>
                            <div class="form-group">
                                <label for="viewlname">Last Name: <span class="invalid text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter last name" id="viewlname" name="viewlname" value="" disabled>
                            </div>
                            <div class="form-group">
                                <label for="viewemail">Email: <span class="invalid text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter email" id="viewemail" name="viewemail" value="" disabled>
                            </div>
                            <div class="form-group">
                                <label for="viewrole">Role: <span class="invalid text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter role" id="viewrole" name="viewrole" value="" disabled>
                            </div>
                        </form>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="col-md-4">
            {% if viewdata.get("admin_data").get("accountCounts") %}
                {% for accountfeed in viewdata.get("admin_data").get("accountCounts")%}
                <div class="row">
                    <div class="col-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-{{accountfeed.get('bgcolor')}} shadow"><i class="fa fa-{{accountfeed.get('icon')}}"></i></span>
            
                            <div class="info-box-content">
                            <span class="info-box-text">{{accountfeed.get('title')}}</span>
                            <span class="info-box-number">{{accountfeed.get('count')}}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        
</section>