<section class="jumbotron bg-theme-quaternary shadow p-4 mb-4">
    <h4 class=" font-weight-light">Latest Activity</h4>
    <!-- Timelime example  -->
    <div class="row">
        <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
            <!-- TIME LINE LABEL -->
            <div class="time-label">
                <span class="bg-theme-secondary text-theme-secondary">September 15 2021</span>
            </div>
            <div>
                <i class="fa fa-user bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 30 mins</span>
                    <h3 class="timeline-header"><a href="#">You</a> updated your profile</h3>
                    <div class="timeline-body">
                        Profile has been updated
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View Profile</button>
                    </div>
                </div>
            </div>
            <!-- TIME LINE LABEL -->
            <div class="time-label">
                <span class="bg-theme-secondary text-theme-secondary">September 13 2021</span>
            </div>
            <div>
                <i class="fa fa-download bg-maroon"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> download a bleeped video</h3>
                    <div class="timeline-body">
                        mygameplaylol.mp4
                        Bleep sound: Buzzer
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View </button>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-soundcloud bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> bleeped a video</h3>
                    <div class="timeline-body">
                        mygameplaylol.mp4 <br>
                        Bleep Sound: Buzzer
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View Full Report</button>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-upload bg-maroon"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> uploaded new video</h3>
                    <div class="timeline-body">
                        mygameplaylol.mp4
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View </button>
                    </div>
                </div>
            </div>
            <!-- TIME LINE LABEL -->
            <div class="time-label">
                <span class="bg-theme-secondary text-theme-secondary">September 12 2021</span>
            </div>
            <div>
                <i class="fa fa-key bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 3 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> change your password</h3>
                    <div class="timeline-body">
                        Your password has been updated
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-soundcloud bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 3 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> bleeped a video</h3>
                    <div class="timeline-body">
                        1V1 IN OVERWATCH- WINNER GETS MACAIYLA.mkv <br>
                        Bleep Sound: Buzzer
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View Full Report</button>
                    </div>
                </div>
            </div>
            <!-- TIME LINE LABEL -->
            <div class="time-label">
                <span class="bg-theme-secondary text-theme-secondary">September 10 2021</span>
            </div>
            <div>
                <i class="fa fa-camera bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> change your profile photo</h3>
                    <div class="timeline-body">
                        <img src="{{url_for('static', filename='Bleepy_UI/src/mark-decile-WA84FtTi7NU-unsplash.jpg')}}" alt="" class="w-75">
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-soundcloud bg-purple"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> bleeped a video</h3>
                    <div class="timeline-body">
                        1V1 IN OVERWATCH- WINNER GETS MACAIYLA.mkv <br>
                        Bleep Sound: Dolphin
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View Full Report</button>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-upload bg-maroon"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> uploaded new video</h3>
                    <div class="timeline-body">
                        1V1 IN OVERWATCH- WINNER GETS MACAIYLA.mkv
                    </div>
                    <div class="timeline-footer">
                        <button class="btn btn-theme"> View </button>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-user bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
                    <h3 class="timeline-header"><a href="#">You</a> joined Bleepy</h3>
                    <div class="timeline-body">
                        <h3 class=" font-weight-light"> Welcome to Bleepy!</h3>
                    </div>
                </div>
            </div>
            <div>
                <i class="fa fa-clock-o bg-gray"></i>
            </div>
        </div>
        </div>
        <!-- /.col -->
    </div>
</section>