{% extends 'layout/layout.html' %}
<!-- #About Us -->
{% block layout_body %}
<section style="min-height: 300px;">
    <div class = "container my-5">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div id = "about-us" >
              <h1 class="text-theme-tertiary display-4 font-weight-bold ">About Us</h1> 
              <p class="text-justify mt-3">We are the <b>Team Bleepy</b>! We are 4th year Bachelor of Science in Computer Science students from <i>City College of Calamba</i> and this system is our thesis project served as partial fulfillment of the program that we are taking.
                This web application is called "Bleepy" as it is bleeping the profanities in the recorded videos. we are happy to present to you our developed system.</p>
            </div>
          </div>
          
          <div class="col-md-6">
            <img src="{{url_for('static', filename='Bleepy_UI/src/we.jpg')}}" alt="we" class="w-100 mt-3 " >
          </div>
        </div>
 </section>

<section class="bg-theme my-5 py-3">
    <div class="container my-5" > 
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls autoplay>
                        <source src="{{url_for('static', filename='media/Defaults/Videos/Team Bleepy Video Pitch.mp4')}}" type="video/mp4" />
                        This video is not supported by your browser...
                    </video>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center text-theme-secondary my-4 ml-3">
                    <h2>Our Vision</h2> 
                    <i>We envision that Bleepy will help to create a peaceful and enjoyable environment in the world of gaming</i> <br> <br>
                    <h2>Our Mission</h2> 
                    <i>Our mission is to support the local streamers here in the Philippines to have a better content in their channels 
                        and eliminate the profanities that restricted by the community guidelines provided by the social media platforms 
                        in which game streamers upload their video</i>
                </div>
            </div>
        </div>
        
    </div>
</section>
    
<div class="container my-5" > 
    <div class="row">
    <div class="col-md-4">
        <a href="http://aboutreynielmark.bleepy.info" target="_blank" rel="noopener noreferrer" class="text-dark text-gray-dark">
            <div>
                <img class="rounded-circle" src="{{url_for('static', filename='Bleepy_UI/src/184884068_179678604047011_1367235326352677479_n.jpg')}}" alt="Card image" style="width:100%">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-text " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Reyniel Mark Escamillas </h5>
                    <p class="card-text"> Full Stack Developer </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="http://aboutmariahgift.bleepy.info" target="_blank" rel="noopener noreferrer" class="text-dark text-gray-dark">
            <div >
                <img class="rounded-circle" src="{{url_for('static', filename='Bleepy_UI/src/Aya.jpg')}}" alt="Card image" style="width:100%">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-text " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Mariah Gift Miranda </h5>
                    <p class="card-text"> Researcher / Front End Programmer </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="http://aboutalaindale.bleepy.info" target="_blank" rel="noopener noreferrer" class="text-dark text-gray-dark">
            <div >
                <img class="rounded-circle" src="{{url_for('static', filename='Bleepy_UI/src/185806136_956423785141127_8339484295284526418_n.jpg')}}" alt="Card image" style="width:100%">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-text " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Alain Dale Tadifa </h5>
                    <p class="card-text">Researcher</p>
                </div>
            </div>
        </a>
    </div>
    </div>
</div>
{% endblock %}


{% block layout_script %} 

{% endblock %}