{% extends 'layout/layout2.html' %}

{% block body %}
<section>
    <!-- Input code here -->
    <div class=" jumbotron bg-white shadow">
        <h1 class=" font-weight-light"> Bleeped Video Information </h1>
        <hr>

        {% if viewdata.get('bleepinfo_data') %}
        <a href="/bleepvideolist"> <button class="btn btn-theme-secondary text-theme-secondary">Back</button></a>

            <!--Advance Details-->
            <div class="form-group form-check float-right">
                <label class="form-check-label" for="showadvancedetails">
                  <input class="form-check-input" type="checkbox" name="showadvancedetails" id="showadvancedetails"> Show Advance Details:
                </label>
            </div>

            <div class=" table-responsive-xl  my-3 shadow">
                <table class="table table-bordered table-hover">
                    <thead class="bg-theme-secondary text-theme-secondary">
                        <tr>
                            <th class="text-center">Video Title</th>
                            <th class="text-center">Bleep Sound</th>
                            <th class="text-center">Bleep Date </th>
                            {% if viewdata.get('has_uploadedby')%}
                            <th class="text-center">Uploaded by</th>
                            {% endif%}
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('filename')}}</td>
                            <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('bfilename')}}</td>
                            <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('process_time')}}</td>
                            {% if viewdata.get('bleepinfo_data').get('uploadedby')%}
                                        <td class="text-center">{{viewdata.get('bleepinfo_data').get('uploadedby')}}</td>
                            {% endif%}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-maroon"><i class="fa fa-comments"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text font-weight-bold">Profanities</span>
                          <span class="info-box-number font-weight-light">{{viewdata.get('bleepinfo_data').get('profanitycount')}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-purple"><i class="fa fa-commenting-o"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text font-weight-bold">Unique Profanities</span>
                          <span class="info-box-number font-weight-light">{{viewdata.get('bleepinfo_data').get('uniqueprofanitycount')}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-orange "><i class="fa fa-comment-o text-white"></i></span>
          
                        <div class="info-box-content">
                          <span class="font-weight-bold">Most Frequent Word</span>
                          <span class="info-box-number font-weight-light">{{viewdata.get('bleepinfo_data').get('mostfrequentword')}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>
            
            <div id="advancedetails_div" class="" style="display: none;">
                <b>Advance Details:</b>
                <div class=" table-responsive-xl shadow">
                    <table class="table table-bordered table-hover">
                        <thead class="bg-theme-secondary text-theme-secondary">
                            <tr>
                                <th class="text-center">STT Model</th>
                                <th class="text-center">Refilter Level</th>
                                <th class="text-center">Last Bleep Video Version</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('stt_model_name')}}</td>
                                
                                {% if viewdata.get('bleepinfo_data').get('bleepinfo').get('refilter_level') %}
                                    <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('refilter_level')}} times</td>
                                {% else %}
                                    <td class="text-center">{{viewdata.get('bleepinfo_data').get('bleepinfo').get('refilter_level')}}</td>
                                {% endif %}
                                
                                {% if viewdata.get('bleepinfo_data').get('bleepinfo').get('lastbleepvideoid') %}
                                    <td class="text-center"><a href="/bleepvideoinfo/{{viewdata.get('bleepinfo_data').get('bleepinfo').get('lastbleepvideoid')}}">View</a></td>
                                {% else %}
                                    <td class="text-center">None</td>
                                {% endif %}
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            

            


            <!-- Original Video vs Bleeped Video-->
            <div class="row">
                <div class="col-md-6">
                    <!-- card -->
                    <div class="card  card-theme-secondary card-outline">
                        <div class="card-header ">
                        <h3 class="card-title">Original Video</h3>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        </div>
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video class="embed-responsive-item" controls>
                                    <source src="{{url_for('static', filename=viewdata.get('bleepinfo_data').get('bleepinfo').get('filelocation') )}}" type="video/mp4" />
                                    This video is not supported by your browser...
                                </video>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <!-- card -->
                    <div class="card  card-theme-secondary card-outline">
                        <div class="card-header ">
                        <h3 class="card-title">Bleeped Video</h3>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        </div>
                        <div class="card-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video class="embed-responsive-item" controls>
                                    <source src="{{url_for('static', filename=viewdata.get('bleepinfo_data').get('bleepinfo').get('pfilelocation') )}}" type="video/mp4" />
                                    This video is not supported by your browser...
                                </video>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header bg-theme-secondary text-theme-secondary">
                        <h3 class="card-title">Profanities</h3>        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                        </div>
                        </div>
                        <!-- /.card-header -->
                        {% if viewdata.get('bleepinfo_data').get('profanitiesall') %}
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap table-hover">
                                <thead>
                                <tr>
                                    <th>Word</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Language</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for profanity in viewdata.get('bleepinfo_data').get('profanitiesall') %}
                                    <tr>
                                        <td>{{profanity.get('word')}}</td>
                                        <td>{{profanity.get('start_time')}}</td>
                                        <td>{{profanity.get('end_time')}}</td>
                                        <td>
                                            {% if profanity.get('lang') %}
                                                {{profanity.get('lang').title()}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                            </div>
                        {% endif %}
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header bg-theme-secondary text-theme-secondary">
                        <h3 class="card-title">Unique Profanities</h3>        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                        </div>
                        </div>
                        <!-- /.card-header -->
                        {% if viewdata.get('bleepinfo_data').get('uniqueprofanitiesall') %}
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap table-hover">
                            <thead>
                            <tr>
                                <th>Word</th>
                                <th>Occurence</th>
                                <th>Language</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for profanity in viewdata.get('bleepinfo_data').get('uniqueprofanitiesall') %}
                                <tr>
                                    <td>{{profanity.get('word')}}</td>
                                    <td>{{profanity.get('occurrence')}}</td>
                                    <td>
                                        {% if profanity.get('lang') %}
                                            {{profanity.get('lang').title()}}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        {% endif %}
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-header bg-theme-secondary  ">
                        <h3 class="card-title text-theme-secondary">Profanities Found</h3>
        
                            <div class="card-tools ">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fa fa-times text-theme-secondary"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if viewdata.get('bleepinfo_data').get('uniqueprofanities') %}
                                <canvas id="profanitiesChartSummary" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                {% for profanity in viewdata.get('bleepinfo_data').get('uniqueprofanities') %}

                                        {% if profanity.get('occurrence') != "0" %}
                                        <input type="hidden" name="word" value="{{profanity.get('word')}}">
                                        <input type="hidden" name="occurrence" value="{{profanity.get('occurrence')}}">
                                        {% endif %}

                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header bg-theme-secondary text-theme-secondary">
                        <h3 class="card-title">Top 10 Profanities</h3>
        
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fa fa-times text-theme-secondary"></i>
                            </button>
                        </div>
                        </div>
                        <div class="card-body">
                            {% if viewdata.get('bleepinfo_data').get('top10profanities') %}
                                <canvas id="mostFrequentProfanityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                {% for profanity in viewdata.get('bleepinfo_data').get('top10profanities') %}

                                        {% if profanity.get('occurrence') != "0" %}
                                        <input type="hidden" name="mostfrequentword" value="{{profanity.get('word')}}">
                                        <input type="hidden" name="mostfrequentoccurrence" value="{{profanity.get('occurrence')}}">
                                        {% endif %}

                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header bg-theme-secondary  ">
                        <h3 class="card-title text-theme-secondary">Language</h3>
        
                            <div class="card-tools ">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fa fa-times text-theme-secondary"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if viewdata.get('bleepinfo_data').get('countperlang') %}
                            <!--    ///////////////////// -->
                                <canvas id="countPerLangChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                {% for langobj in viewdata.get('bleepinfo_data').get('countperlang') %}

                                        {% if langobj.get('count') != "0" %}
                                            {% if langobj.get('lang') %}
                                                <input type="hidden" name="langobjlang" value="{{langobj.get('lang').title()}}">
                                            {% else %}
                                                <input type="hidden" name="langobjlang" value="{{langobj.get('lang')}}">
                                            {% endif %}
                                            <input type="hidden" name="langobjcount" value="{{langobj.get('count')}}">
                                        {% endif %}

                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            

            
            <form action="/deletebleepvideo" method="post">
                <a href="/downloadbleeped/{{viewdata.get('bleepinfo_data').get('bleepinfo').get('pvideo_id')}}" target="_blank"> <button class=" btn btn-theme-secondary" type="button"> <i class="fa fa-download" aria-hidden="true"></i> Download Bleeped Video </button> </a>
                <input type="hidden" name="path" id="path" value="{{viewdata.get('bleepinfo_data').get('bleepinfo').get('pvideo_id')}}">
                <button class="btn btn-danger my-1" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </form>
        {% else %}
            <div class="jumbotron bg-white text-theme text-center shadow">
                <h3> This video not exist </h3>
                <a href="/bleepvideolist">
                    <button type="button" class="btn btn-theme"> Go Back </button>
                </a>
            </div>
        {% endif %}

    </div>
</section>
{% endblock %}

{% block script %}
    {% if viewdata.get('bleepinfo_data') %}
    <script>
        $("button[type='submit']").on( "click", function(){
            result= confirm("Are you sure?");
            if ( !(result === true) ) {
                event.preventDefault();
            } 
        });
        $(function () {
            let words = []
            $("input[name=word]").each(function(){
                words.push($(this).val())
            });
            let occurrence = []
            $("input[name=occurrence]").each(function(){
                occurrence.push($(this).val())
            });
            var graphData   = {
                labels: words,
                datasets: [
                {
                    data: occurrence,
                    backgroundColor : ['#f94144', '#f3722c', '#f8961e', '#f9844a', '#f9c74f', '#90be6d',"#43aa8b","#4d908e","#577590","#277da1"],
                }
                ]
            }
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#profanitiesChartSummary').get(0).getContext('2d')
            var pieData        = graphData;
            var pieOptions     = {
                maintainAspectRatio : false,
                responsive : true,
            }
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            })

        })
    </script>

    <script>
        $(function () {
            //========================================================
            let words = []
            $("input[name=mostfrequentword]").each(function(){
                words.push($(this).val())
            });
            let occurrence = []
            $("input[name=mostfrequentoccurrence]").each(function(){
                occurrence.push($(this).val())
            });
            occurrence.push(0) //This will set as the min value

            //---------------------
            var barChartCanvas = $('#mostFrequentProfanityChart').get(0).getContext('2d')
            //---------------------
            var xValues = words;
            var yValues = occurrence;
            var barColors = ['#f94144', '#f3722c', '#f8961e', '#f9844a', '#f9c74f', '#90be6d',"#43aa8b","#4d908e","#577590","#277da1"];

            new Chart(barChartCanvas, {
            type: "horizontalBar",
            data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
            },
            options: {
                legend: {display: false},
                title: {
                display: true,
                text: "Profanities detected base on occurence"
                }
            }
            });
        })
    </script>

    <script>
        $(function () {
            let words = []
            $("input[name=langobjlang]").each(function(){
                words.push($(this).val())
            });
            let occurrence = []
            $("input[name=langobjcount]").each(function(){
                occurrence.push($(this).val())
            });
            var graphData   = {
                labels: words,
                datasets: [
                {
                    data: occurrence,
                    backgroundColor : ['#f94144', '#f3722c', '#f8961e', '#f9844a', '#f9c74f', '#90be6d',"#43aa8b","#4d908e","#577590","#277da1"],
                }
                ]
            }
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#countPerLangChart').get(0).getContext('2d')
            var pieData        = graphData;
            var pieOptions     = {
                maintainAspectRatio : false,
                responsive : true,
            }
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            })

        })
    </script>

    <script>
        $('#showadvancedetails').on('click', function() {
            if($('#showadvancedetails').is(':checked')){
                $('#advancedetails_div').slideDown();
            }else{
                $('#advancedetails_div').slideUp();
            }
        
        });
    </script>
    {% endif %}
{% endblock %}