{% extends 'layout.html' %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center ">
        <div class="col-md-8 ">
            <h1 class=" font-weight-light"> Bleep New Video </h1>
            <div class="card collapsed-card">
                <div class="card-header bg-theme-secondary text-theme-secondary">
                  <h3 class="card-title text-theme-secondary">How to:</h3>
  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                    <section>
                        <div class="container">
                            <div class=" text-center">
                                <h2>Remove profanities in your videos in just 3 steps!</h2>
                                <p>Just follow the following instructions:</p>
                            </div>
                            <div class="card-deck mt-3 container">
                                <div class="card">
                                    <div class="card-header text-center bg-dark text-white">
                                        <h4 class="card-title">Step 1</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <i class="fa fa-upload fa-5x" aria-hidden="true"></i> <br>
                                        <p class="mt-3">Upload or choose video that you want to remove the profanity</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-center bg-dark text-white">
                                        <h4 class="card-title">Step 2</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <i class="fa fa-spinner fa-5x" aria-hidden="true"></i>
                                        <p class="mt-3">Run Bleepy! Wait until your video done processing. You can also choose bleep sound before running</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-center bg-dark text-white">
                                        <h4 class="card-title">Step 3</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <i class="fa fa-download fa-5x" aria-hidden="true"></i>
                                        <p class="mt-3">Download your videos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="bleepstep1div">
                <div class="card card-tabs">
                    <div class="card-header p-0 pt-1 bg-theme-secondary text-theme-secondary">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                        </div>
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="pt-2 px-3"><h3 class="card-title">Step 1:</h3></li>
                            <li class="nav-item">
                            <a class="nav-link active" id="step1-upload-video-tab" data-toggle="pill" href="#step1-upload-video" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Upload Video</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="step1-choose-video-tab" data-toggle="pill" href="#step1-choose-video" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Choose Video</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-two-tabContent">
                        <div class="tab-pane fade show active" id="step1-upload-video" role="tabpanel" aria-labelledby="step1-upload-video-tab">
                            <h3 class=" font-weight-light">Upload new video</h3>
                            <form>
                                <div class="custom-file mb-3">
                                  <input type="file" class="custom-file-input" id="uploadFile" name="uploadFile">
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <div class="form-group" id="uploadSubmitDiv" style="display: none;">
                                    <input type="submit" id="uploadSubmit" value="Upload" class="btn btn-info" />
                                </div>
                                <div class="form-group" id="cancelSubmitDiv" style="display: none;">
                                    <button class="btn btn-info" disabled id="loader-icon">
                                        <span class="spinner-border spinner-border-sm"></span>
                                        Loading..
                                    </button>
                                    <input type="button" id="cancelSubmit" value="Cancel" class="btn btn-danger" />
                                </div>
                                
                                <div class="progress" id="uploadProgress" style="display: none;">
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                </div>
                                <div id="targetLayer" style="display:none;" class="mt-3">
                
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="step1-choose-video" role="tabpanel" aria-labelledby="step1-choose-video-tab">
                            <h3 class=" font-weight-light">Choose from your videos</h3>
                            <form action="">
                                <div class="input-group mb-3">
                                    <select name="chooseVideo" class="custom-select" id="chooseVideo">
                                      <option selected value="">Choose video</option>
                                      <option value="1">Video1.mp4</option>
                                      <option value="2">Video2.mp4</option>
                                      <option value="3">Video3.mp4</option>
                                    </select>
                                    <div class="input-group-append">
                                      <button class="btn btn-info" type="button" id="viewfirst">View First</button>
                                    </div>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9 mb-3" id="choosevideopreview">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                                </div>
                                <div class="form-group" id="chooseSubmitDiv" style="display: none;">
                                    <input type="submit" id="chooseSubmit" value="Choose" class="btn btn-info" />
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div id="bleepstep2div" style="display: none;">
                <div class="card card-tabs">
                    <div class="card-header p-0 pt-1 bg-theme-secondary text-theme-secondary">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                        </div>
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="pt-2 px-3"><h3 class="card-title">Step 2:</h3></li>
                            <li class="nav-item">
                            <a class="nav-link active" id="step2-run-bleepy-tab" data-toggle="pill" href="#step2-run-bleepy" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Run Bleepy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-two-tabContent">
                        <div class="tab-pane fade show active" id="step2-run-bleepy" role="tabpanel" aria-labelledby="step2-run-bleepy-tab">
                            <h3 class=" font-weight-light">Run Bleepy</h3>
                            <hr>
                            <p>Video1.mp4</p>
                            <form action="">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                                </div>
                            </form>
                            <p class="mt-3 font-weight-bold">Bleep Sound</p>
                            <div class="input-group mb-3">
                                <select name="choosebleepsound" class="custom-select" id="choosebleepsound">
                                  <option selected value="1">Beep</option>
                                  <option value="2">Dolphin</option>
                                  <option value="3">Buzzer</option>
                                  <option value="4">Horn</option>
                                </select>
                                <div class="input-group-append">
                                  <button class="btn btn-info" type="button" id="listenfirst">Listen First</button>
                                </div>
                            </div>
                            <div class="" id="bleepsoundpreview">
                                <audio controls class=" w-100 mb-3" id="bleepsoundplayer">
                                    <source src="sample.mp3" id="mp3_src" type="audio/mp3">
                                    Your browser does not support the audio tag.
                                </audio>
                            </div>
                            <button type="submit" class="btn btn-primary">Run Bleepy!</button>

                            
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                </div>                        
            </div>

            <div id="bleepstep3div" style="display: none;">
                <div class="card card-tabs">
                    <div class="card-header p-0 pt-1 bg-theme-secondary text-theme-secondary">
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                        </div>
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="pt-2 px-3"><h3 class="card-title">Step 3:</h3></li>
                            <li class="nav-item">
                            <a class="nav-link active" id="step3-download-tab" data-toggle="pill" href="#step3-download" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Download</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content" id="custom-tabs-two-tabContent">
                        <div class="tab-pane fade show active" id="step3-download" role="tabpanel" aria-labelledby="step3-download-tab">
                            <h3 class=" font-weight-light">Download Bleep Video</h3>
                            <form action="">
                                <div class="embed-responsive embed-responsive-16by9 mb-3" id="downloadvideo">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                                </div>
                                <div class="form-group" id="downloadSubmitDiv">
                                    <input type="submit" id="downloadSubmit" value="Download" class="btn btn-info" />
                                </div>
                            </form>
                            <hr>
                            <h3 class=" font-weight-light">Profanity Report Summary</h3>
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // Add the following code if you want the name of the file appear on select
    loadStep1(getParameter("step1"))
    function loadStep1(step1){
        if (step1 == "step1-choose-video") {
            $('.nav-tabs a[href="#step1-choose-video"]').tab('show')
        }else{
            $('.nav-tabs a[href="#step1-upload-video"]').tab('show')
        }
    }
    function getParameter(p){
        var url = window.location.search.substring(1);
        var varUrl = url.split('&');
        for (var i = 0; i < varUrl.length; i++){
            var parameter = varUrl[i].split('=');
            if (parameter[0] == p){
                return parameter[1];
            }
        }
    }
    

    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName == "" ? "Choose file":fileName);
    });
    $('#uploadSubmitDiv').hide();
    $('#uploadFile').on('change', function() {
        $('#uploadSubmitDiv').hide();
        if($('#uploadFile').val()){
            document.cookie = `filesize= ${this.files[0].size}`;
            $('#uploadSubmitDiv').show();
        }
    });

    $('#chooseSubmitDiv').hide();
    $('#chooseVideo').on('change', function() {
        $('#chooseSubmitDiv').hide();
        if($('#chooseVideo').val()){
            $('#chooseSubmitDiv').show();
        }
    });

    $('#choosevideopreview').hide();
    $('#viewfirst').on('click', function() {
        $('#choosevideopreview').hide();
        if($('#chooseVideo').val()){
            $('#choosevideopreview').show();
        }
    });

    $('#bleepsoundpreview').hide();
    $('#listenfirst').on('click', function() {
        $('#bleepsoundpreview').hide();
        if($('#choosebleepsound').val()){
            changeAudioSrc($('#choosebleepsound').val())
            $('#bleepsoundpreview').show();
        }
    });

    function changeAudioSrc(sourceUrl) {
        var audio = $("#bleepsoundplayer");      
        $("#mp3_src").attr("src", sourceUrl);
        /****************/
        audio[0].pause();
        audio[0].load();//suspends and restores all audio element

        //audio[0].play(); changed based on Sprachprofi's comment below
        audio[0].oncanplaythrough = audio[0].play();
        /****************/
    }
</script>
{% endblock %}