{% extends 'layout2.html' %}

{% block body %}
    <!-- Bleep new video -->
    {% include 'includes/dashboard/_bleep_new_video_div.html' %}

    <!-- Dashboard label-->
    {% include 'includes/dashboard/_dashboard_label.html' %}

    <!-- Feeds -->
    {% include 'includes/dashboard/_feeds.html' %}

    {% if viewdata.get("admin_data") %}
        <!-- Additional For admin -->
        {% include 'includes/dashboard/_admin.html' %}
    {% endif %}

    {% if viewdata.get("editor_data") %}
        <!-- Additional For editor -->
        {% include 'includes/dashboard/_editor.html' %}
    {% endif %}


    <!-- Last bleep video summary report-->
    {% if viewdata.get("latestbleep_data") %}
        {% if viewdata.get("latestbleep_data").get("latestbleep") %}
        <div class="row">
            <div class="col-12">
                <div class="card shadow ">
                    <div class="card-header bg-theme-secondary text-theme-secondary">
                        <h3 class="card-title">Latest Bleeped Video</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fa fa-expand text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus text-theme-secondary"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fa fa-times text-theme-secondary"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p class=" font-weight-bold">Summary <span class="float-md-right"> <a href="/bleepvideoinfo/{{viewdata.get('latestbleep_data').get('latestbleep').get('pvideo_id')}}">View Full Report</a></span></p>
                        
                        <div class=" table-responsive-xl shadow my-3">
                            <table class="table table-bordered table-hover">
                                <thead class="bg-theme-secondary text-theme-secondary">
                                    <tr>
                                        <th class="text-center">Video Title</th>
                                        <th class="text-center">Bleep Sound</th>
                                        <th class="text-center">Unique Profanities Identified </th>
                                        <th class="text-center">Most Frequent Word</th>
                                        <th class="text-center">Bleep Date </th>
                                        {% if viewdata.get('widgets_data')%}
                                            {% if viewdata.get('widgets_data').get('has_uploadedby')%}
                                            <th class="text-center">Uploaded by</th>
                                            {% endif%}
                                        {% endif%}
                                    </tr>
                                </thead>
                
                                <tbody>
                                    <tr>
                                        <th class="text-center">{{viewdata.get('latestbleep_data').get('latestbleep').get('filename')}}</th>
                                        <th class="text-center">{{viewdata.get('latestbleep_data').get('latestbleep').get('bfilename')}}</th>
                                        <th class="text-center">{{viewdata.get('latestbleep_data').get('uniqueprofanitycount')}}</th>
                                        <th class="text-center">{{viewdata.get('latestbleep_data').get('mostfrequentword')}}</th>
                                        <th class="text-center">{{viewdata.get('latestbleep_data').get('latestbleep').get('process_time')}}</th>
                                        {% if viewdata.get('widgets_data')%}
                                            {% if viewdata.get('widgets_data').get('has_uploadedby')%}
                                            <th class="text-center">{{viewdata.get('latestbleep_data').get('latestbleep').get('uploadedby')}}</th>
                                            {% endif%}
                                        {% endif%}
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Original Video vs Bleeped Video-->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- card -->
                                <div class="card shadow card-theme-secondary card-outline">
                                    <div class="card-header ">
                                    <h3 class="card-title">Original Video</h3>
                    
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video class="embed-responsive-item" controls>
                                                <source src="{{url_for('static', filename=viewdata.get('latestbleep_data').get('latestbleep').get('filelocation') )}}" type="video/mp4" />
                                                This video is not supported by your browser...
                                            </video>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <div class="col-md-6">
                                <!-- card -->
                                <div class="card shadow card-theme-secondary card-outline">
                                    <div class="card-header ">
                                    <h3 class="card-title">Bleeped Video</h3>
                    
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <video class="embed-responsive-item" controls>
                                                <source src="{{url_for('static', filename=viewdata.get('latestbleep_data').get('latestbleep').get('pfilelocation') )}}" type="video/mp4" />
                                                This video is not supported by your browser...
                                            </video>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        {% if viewdata.get('latestbleep_data').get('uniqueprofanities') %}
                        <!-- Insights -->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card card-theme-secondary card-outline shadow">
                                    <div class="card-header">
                                    <h3 class="card-title">List of Unique Profanities</h3>        
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                            <i class="fa fa-expand "></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fa fa-minus "></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fa fa-times "></i>
                                        </button>
                                    </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                    <table class="table table-head-fixed text-nowrap table-hover">
                                        <thead>
                                            <tr>
                                            <th>Word</th>
                                            <th>Occurrence</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for profanities in viewdata.get('latestbleep_data').get('uniqueprofanities') %}
                                        <tr>
                                            {% if profanities.get('occurrence') != "0" %}
                                            <td data-="">{{profanities.get('word')}}</td>
                                            <td>{{profanities.get('occurrence')}}</td>
                                            <input type="hidden" name="word" value="{{profanities.get('word')}}">
                                            <input type="hidden" name="occurrence" value="{{profanities.get('occurrence')}}">
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                        
                                        
                                        
                                        </tbody> 
                                    </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                
                                <!-- PIE CHART -->
                                <div class="card card-theme-secondary card-outline shadow">
                                    <div class="card-header ">
                                    <h3 class="card-title">Profanities Found</h3>
                    
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="profanitiesChartSummary" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                        {% endif %}

                        <div>
                            <a href="/downloadbleeped/{{viewdata.get('latestbleep_data').get('latestbleep').get('pvideo_id')}}" target="_blank"> <button class=" btn btn-theme-secondary"> <i class="fa fa-download" aria-hidden="true"></i> Download Bleeped Video </button> </a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        <!--No Result -->
        {% include 'includes/_noresult.html' %}
    {% endif %}


    <!-- Widgets-->
    {% include 'includes/dashboard/_widgets.html' %}

    <hr>
    <!-- Latest Activity-->
    <!--  -->

{% endblock %}

{% block script %}

    {% if viewdata.get('latestbleep_data').get('uniqueprofanities') %}
    <script>
        $(function () {
            let words = []
            $("input[name=word]").each(function(){
                words.push($(this).val())
            });
            let occurrence = []
            $("input[name=occurrence]").each(function(){
                occurrence.push($(this).val())
            });
            var graphData   = {
                labels: words,
                datasets: [
                {
                    data: occurrence,
                    backgroundColor : ['#f94144', '#f3722c', '#f8961e', '#f9844a', '#f9c74f', '#90be6d',"#43aa8b","#4d908e","#577590","#277da1"],
                }
                ]
            }
            //-------------
            //- PIE CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var pieChartCanvas = $('#profanitiesChartSummary').get(0).getContext('2d')
            var pieData        = graphData;
            var pieOptions     = {
                maintainAspectRatio : false,
                responsive : true,
            }
            new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            })

        })
    </script>
    {% endif %}

    {% if viewdata.get('widgets_data').get('mostfrequentprofanities') %}
    <script>
        $(function () {
            //========================================================
            let words = []
            $("input[name=mostfrequentprofanitiesword]").each(function(){
                words.push($(this).val())
            });
            let occurrence = []
            $("input[name=mostfrequentprofanitiesoccurrence]").each(function(){
                occurrence.push($(this).val())
            });
            occurrence.push(0) //This will set as the min value

            //---------------------
            var barChartCanvas = $('#mostFrequentProfanityChart').get(0).getContext('2d')
            //---------------------
            var xValues = words;
            var yValues = occurrence;
            var barColors = ['#f94144', '#f3722c', '#f8961e', '#f9844a', '#f9c74f', '#90be6d',"#43aa8b","#4d908e","#577590","#277da1"];

            new Chart(barChartCanvas, {
            type: "horizontalBar",
            data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
            },
            options: {
                legend: {display: false},
                title: {
                display: true,
                text: "Profanities detected base on occurence"
                }
            }
            });
        })
    </script>
    {% endif %}


    {% include 'includes/dashboard/_scripts_admin.html' %}

{% endblock %}




    


