{% extends 'layout/layout.html' %}

{% block layout_body %}
<div class="row justify-content-center py-5 container-fluid">
    <div class="col-md-4">
        <div class="jumbotron bg-white shadow p-4 mb-4">
            {% if viewdata.get("ischangepassword") %}
                <h1 class="text-center my-3">Change Password</h1>
                <form action="/changepassword" method="post" id="changepasswordform">
                    <div class="form-group">
                        <label for="">Email address: <span class="invalid text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Enter your email" id="" name="" value="{{viewdata.get('email')}}" disabled>
                    </div>

                    <input type="hidden" name="email" id="email" value="{{viewdata.get('email')}}">

                    <div class="form-group">
                        <label for="newpwd">New Password: <span class="invalid text-danger">*</span></label> 
                        <div class="input-group mb-3 ">
                            <input type="password" class="form-control " placeholder="Enter your desired new password" id="newpwd" name="newpwd">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button" id="shownewpwd"><i class="fa fa-eye-slash" aria-hidden="true" id="eyenewpwd"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light m-2 p-4 shadow" id="pwdMessage" >
                        <p>
                            <b>Password must contain the following: </b> <br>
                            <span class="text-danger" id="smallpwd"><i class="fa fa-times" aria-hidden="true" id="smallicon"></i>    A smallcase letter</span> <br>
                            <span class="text-danger" id="upperpwd"><i class="fa fa-times" aria-hidden="true" id="uppericon"></i>    A capital (uppercase) letter</span> <br>
                            <span class="text-danger" id="numberpwd"><i class="fa fa-times" aria-hidden="true" id="numbericon"></i>    A number</span> <br>
                            <span class="text-danger" id="minpwd"><i class="fa fa-times" aria-hidden="true" id="minicon"></i>    Minimum 8 characters</span> <br>
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="confirmpwd">Confirm Password: <span class="invalid text-danger">*</span></label> 
                        <div class="input-group mb-3 ">
                            <input type="password" class="form-control " placeholder="Re-enter your desired new password" id="confirmpwd" name="confirmpwd">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button" id="showconfirmpwd"><i class="fa fa-eye-slash" aria-hidden="true" id="eyeconfirmpwd"></i></button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-theme-secondary">Change</button>
                </form>
            {% else %}
                <h1 class="text-center my-3">Forgot Password</h1>
                <form action="" id="forgotpasswordform" method="POST">
                    {% if viewdata.get("isOTP") %}
                        <div class="form-group">
                            <label for="email">Email address: <span class="invalid text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email" value="{{viewdata.get('email')}}">
                        </div>

                        <input type="hidden" name="ver_time" id="ver_time" value="{{viewdata.get('ver_time')}}">
                        <input type="hidden" name="hasOTP" id="hasOTP" value="True">

                        <div class="form-group">
                            <label for="ver_code">Verification Code: <span class="invalid text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter code" id="ver_code" name="ver_code">
                        </div>

                        <div class="form-group">
                            Didn't receive verification code? <br> 
                            <div id="timediv">
                                Request new in <span id="remainingtime" class=" text-theme font-weight-bold"> 00:00:00 </span>
                            </div>
                            <div id="requestdiv" style="display: none;">
                                <a href="/forgotpassword">Request new code</a>
                            </div>
                            
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="email">Email address: <span class="invalid text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
                        </div>
                    {% endif %}


                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-theme w-100">Submit</button>
                    </div>
                    
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block layout_script %}

{% if viewdata.get("ischangepassword") %}
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasNumber.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasSmall.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasUpper.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_nowhitespace.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/showpwd.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/pwdmessage.js')}}"></script>
<script>
    //showpwd.js
    $("#showoldpwd").click(function(){
        showpwd("#oldpwd","#eyeoldpwd")
    });
    $("#shownewpwd").click(function(){
        showpwd("#newpwd","#eyenewpwd")
    });
    $("#showconfirmpwd").click(function(){
        showpwd("#confirmpwd","#eyeconfirmpwd")
    });

    //pwdmessage.js
    $("#newpwd").focus(function() {
        $("#pwdMessage").show();
    });
    $("#newpwd").blur(function() {
        $("#pwdMessage").hide();
    });
    $("#newpwd").keyup(function(){
        pwdMessage(this)
    });


    $("#changepasswordform").validate({
        errorElement: 'span',
        errorClass: 'invalid',
        rules: {
            newpwd:{
                required: true,
                minlength: 8,
                hasNumber: true,
                hasSmall: true,
                hasUpper: true,
                nowhitespace: true
            },
            confirmpwd:{
                required: true,
                equalTo: "#newpwd"
            },
            email:{
                email:true,
                required:true
            }
        },
        messages:{
            confirmpwd:{
                equalTo: "Please enter the same password above"
            }
        }
    });
</script>
{% else %}

    {% if viewdata.get("isOTP") %}
    <script>
            class Progress{
                //This progress script is for verification only
            constructor (est_duration,progress_bar,elapsedtimespan,remainingtimespan,timediv,requestdiv){
                this.percent = 0
                this.lapse = 0
                this.interval = null
                this.est_duration = est_duration
                this.remainingtime = est_duration

                //
                this.progress_bar = progress_bar
                this.elapsedtimespan = elapsedtimespan
                this.remainingtimespan = remainingtimespan

                //
                this.timediv = timediv
                this.requestdiv = requestdiv
            }
            initial(){
                $(this.progress_bar).width('0%')
                $(this.progress_bar).html('0%');
                $(this.elapsedtimespan).html('00:00:00');
                $(this.remainingtimespan).html('00:00:00');
                this.percent = 0
            }

            setLapse(lapse){
                this.lapse = lapse
            }
            getLapse(){
                return this.lapse
            }

            incrementLapse(){
                this.setLapse(this.getLapse()+1)
            }

            getLapseTime(){
                // let hours = parseInt(this.getLapse()/3600)
                // let minutes = parseInt((this.getLapse()%3600)/60)
                // let seconds = parseInt((this.getLapse()%3600)%60)
                // return hours.toString()+":"+minutes.toString()+":"+seconds.toString()
                return new Date(this.getLapse() * 1000).toISOString().substr(11, 8)
            }

            setRemaining(remainingtime){
                this.remainingtime = remainingtime
            }

            getRemaining(){
                return this.remainingtime
            }

            decrementRemaining(){
                this.setRemaining(this.getRemaining()-1)
            }

            getRemainingTime(){
                return new Date(this.getRemaining() * 1000).toISOString().substr(11, 8)
            }

            setPercent(percent){
                this.percent = percent
            }

            getPercent(){
                return this.percent
            }

            computePercent(){
                let temp_percent = parseInt((this.getLapse()/this.est_duration)*100)
                if (temp_percent<100){
                    this.setPercent(temp_percent)
                }
            }

            process(){
                if (this.getRemaining()<1){
                    this.stop()
                    $(this.timediv).hide(1000);
                    $(this.requestdiv).show(1000);
                }else{
                    this.incrementLapse()
                    this.computePercent()
                    this.decrementRemaining()
                    $(this.progress_bar).width(this.getPercent()+'%')
                    $(this.progress_bar).html(this.getPercent()+'%');
                    $(this.elapsedtimespan).html(this.getLapseTime());
                    $(this.remainingtimespan).html(this.getRemainingTime());
                }  
            }
            
            run(){
                this.initial()
                this.interval = setInterval(this.process.bind(this), 1000);
            }
            stop(){
                clearInterval(this.interval);
            }
        }

        //Run progress
        est_duration = parseFloat($('#ver_time').val())
        let progress = new Progress(est_duration,'','','#remainingtime','#timediv','#requestdiv')
        progress.run()

    </script>

    <script>
        $("#forgotpasswordform").validate({
            errorElement: 'span',
            errorClass: 'invalid',
            rules: {
                email:{
                    email:true,
                    required:true
                },
                ver_code:{
                    required:true
                }
            }
        });
    </script>
    {% else %}
    <script>
        $("#forgotpasswordform").validate({
            errorElement: 'span',
            errorClass: 'invalid',
            rules: {
                email:{
                    email:true,
                    required:true
                }
            }
        });
    </script>
    {% endif %} 

{% endif %}
    


    
    
{% endblock %}