{% extends 'layout/layout.html' %}

{% block body %}
<div class="row justify-content-center py-5 container-fluid">
    <div class="col-md-4">
        <div class="jumbotron bg-white shadow p-4 mb-4">
            <h1 class="text-center my-3">Sign up</h1>
            <form action="/signup" id="signupform" method="POST">
                <div class="form-group">
                    <label for="fname">First Name: <span class="invalid text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter your first name" id="fname" name="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name: <span class="invalid text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter your last name" id="lname" name="lname">
                </div>
                <div class="form-group">
                    <label for="email">Email address: <span class="invalid text-danger">*</span></label>
                    <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password: <span class="invalid text-danger">*</span></label> 
                    <div class="input-group mb-3 ">
                        <input type="password" class="form-control " placeholder="Enter your password" id="pwd" name="pwd">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button" id="showpwd"><i class="fa fa-eye-slash" aria-hidden="true" id="eyepwd"></i></button>
                        </div>
                    </div>
                </div>

                <div class="bg-light m-2 p-4 shadow" id="pwdMessage">
                    <p>
                        <b>Password must contain the following: </b> <br>
                        <span class="text-danger" id="smallpwd"><i class="fa fa-times" aria-hidden="true" id="smallicon"></i>    A smallcase letter</span> <br>
                        <span class="text-danger" id="upperpwd"><i class="fa fa-times" aria-hidden="true" id="uppericon"></i>    A capital (uppercase) letter</span> <br>
                        <span class="text-danger" id="numberpwd"><i class="fa fa-times" aria-hidden="true" id="numbericon"></i>    A number</span> <br>
                        <span class="text-danger" id="minpwd"><i class="fa fa-times" aria-hidden="true" id="minicon"></i>    Minimum 8 characters</span> <br>
                    </p>
                </div>

                <div class="form-group">
                    <label for="confirmpwd">Confirm Password: <span class="invalid text-danger">*</span></label> 
                    <div class="input-group mb-3 ">
                        <input type="password" class="form-control " placeholder="Re-enter your password" id="confirmpwd" name="confirmpwd">
                        <div class="input-group-append">
                            <button class="btn btn-theme" type="button" id="showconfirmpwd"><i class="fa fa-eye-slash" aria-hidden="true" id="eyeconfirmpwd"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label for="agreetandc"><span class="invalid text-danger"></span></label> <br>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="agreetandc" name="agreetandc"> I agree and accept the 
                        <a data-toggle="modal" data-target="#tandcmodal" class="text-theme-tertiary font-weight-bold">Terms and Conditions</a> and
                        <a data-toggle="modal" data-target="#privacypoliciesmodal" class="text-theme-tertiary font-weight-bold">Privacy and Security Policies</a> 
                    </label>
                </div>
                
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-theme w-100 ">Submit</button>
                </div>
                <div class=" text-center">
                    Already have an account? <br>
                    <a href="/signin">Sign in</a>
                </div>
            </form>
        </div>
    </div>

    <!--Modals-->
    <div>
        <!-- The Modal  TANDC-->
        <div class="modal fade" id="tandcmodal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-theme-secondary">
                <h4 class="modal-title text-theme-secondary">Terms and Conditions</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    {% include 'includes/_tandc.html' %}
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>


        <div class="modal fade" id="privacypoliciesmodal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header bg-theme-secondary">
                <h4 class="modal-title text-theme-secondary">Privacy and Security Policies</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    {% include 'includes/_privacypolicies.html' %}
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasNumber.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasSmall.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_hasUpper.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_nowhitespace.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/validation_validname.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/showpwd.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/signup.js')}}"></script>
<script src="{{url_for('static', filename='Bleepy_UI/js/pwdmessage.js')}}"></script>
{% endblock %}