{% extends 'layout2.html' %}

{% block body %}
    <section>
        <!-- Input code here -->
        <div class=" jumbotron bg-white shadow">
            <h1 class=" font-weight-light"> Videos </h1>
            <hr>

            {% if viewdata.get('videos') %}
                <div class="card collapsed-card " id="videopreviewcard">
                    <div class="card-header bg-theme-secondary text-theme-secondary">
                    <h3 class="card-title">Video Player</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fa fa-expand text-theme-secondary"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-plus text-theme-secondary" id="collapseicon"></i>
                        </button>
                    </div>
                    </div>
                    <div class="card-body">
                        <p>
                            <b>Title:</b> <span id="video_filename">{{viewdata.get('latest_video').get('filename')}}</span> 
                            <br>
                            <b>Uploaded on: </b> <span id="video_upload_time">{{viewdata.get('latest_video').get('upload_time')}}</span> 
                        </p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item " id="videopreview" controls>
                                <source src="{{url_for('static', filename=viewdata.get('latest_video').get('filelocation') )}}" type="video/mp4" />
                                This video is not supported by your browser...
                            </video>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                    

                <div class=" container ">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Videos</h3>
            
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./card-header -->
                        <div class="card-body">
                          <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Uploaded on</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for video in viewdata.get('videos') %}
                                <tr data-widget="expandable-table" aria-expanded="false">
                                    <td>{{video.get('filename')}}</td>
                                    <td>{{video.get('upload_time')}}</td>
                                </tr>
                                <tr class="expandable-body">
                                    <td colspan="2">
                                        <div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6 col-12">
                                                    <button class="btn btn-theme-secondary btnvideoplayer my-1" value="{{video.get('video_id')}}"><i class="fa fa-play-circle fa-lg" aria-hidden="true"></i></button>  
                                                    <a href="" target="_blank"> <button class=" btn btn-theme-secondary my-1"> <i class="fa fa-download" aria-hidden="true"></i> Download </button> </a>
                                                    <button class="btn btn-danger my-1"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
            {% else %}
            <div class="jumbotron bg-white text-theme text-center shadow">
                <h3> You have no videos </h3>
                <a href="/bleepvideo">
                    <button type="button" class="btn btn-theme"> Get Started >> </button>
                </a>
            </div>
            {% endif %}
            

        </div>
    </section>
{% endblock %}

{% block script %}
<script>
    $('.btnvideoplayer').on('click', function() {
        if($(this).val()){
            $.ajax ({
                type:"POST",
                url:"/getvideoinfo",
                data: {
                    vid_id:$(this).val()
                },
                cache: false,
                success:function(data){
                    
                    $('#videopreview source').attr('src',data.filelocation);
                    $('#video_filename').html(data.filename);
                    $('#video_upload_time').html(data.upload_time);
                    
                    $("#videopreview ")[0].load();
                    $('html, body').animate({
                                scrollTop: $("#videopreviewcard").offset().top
                    }, 2000);

                    $('#videopreviewcard').CardWidget('expand')

                    $("#videopreview ")[0].play();
                    
                },error:function(e){
                    alert("error: "+e)
                }
            });
        }
        else{
            //Stops video 
            $('#videopreview source').attr('src', '');
            $("#videopreview ")[0].load();
        }
    });
</script>
{% endblock %}