{% extends 'layout/layout.html' %}
<!-- #Layout 2 -->
{% block layout_body %}
<div class="row my-3 container-fluid">
    <div class="col-md-3">
        
        {% include 'includes/_user_widget.html' %}
        {% include 'includes/_cardnav.html' %}

    </div>
    <div class="col-md-9">
        <section>
            <!-- Input code here -->
            {% block layout2_body %}{% endblock %}
        </section>
    </div>
</div>
{% endblock %}

{% block layout_script %} 
    {% block layout2_script %} {% endblock %}
{% endblock %}