<!DOCTYPE html>
<html lang="en" data-theme="primary">

{% include 'includes/_header.html' %}

<body>
    {% include 'includes/_preloader.html' %}
    
    {% include 'includes/_navbar.html' %}

    <section class="" style="min-height: 500px;">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </section>

    {% include 'includes/_footer.html' %}

    {% include 'includes/_scripts.html' %}

    <!--Scripts-->
    {% block script %} {% endblock %}
</body>
</html>